.addDonationPopup {
  position: absolute;
  width: 50%;
  height: 40%;
  top: 20%;
  left: 25%;
  border: 1px solid black;
  border-radius: 4px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.infoPanel {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
