.wrapper {
  flex: 1;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  overflow: hidden;
}

.container {
  position: relative;
  overflow: auto;

  width: 100%;
  height: 100%;
}

.messageBox {
  position: absolute;
  width: 20%;
  height: 15%;
  top: 30%;
  left: 40%;
  border: 1px solid black;
  border-radius: 4px;
  z-index: 10;
  padding: 10px;
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.message {
  margin: 20px 0;
}
